
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/plans_db
    username: plans_user
    password: plans_password
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true
  flyway:
    enabled: true

logging:
  level:
    com.healthcare.plans.api.datagen: INFO
    org.hibernate.SQL: WARN
server:
  port: 8082